<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Tables</title>
  <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One|Open+Sans:400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./css/normalize.css">
  <link rel="stylesheet" href="./css/responsive.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>ABC Engineering</h1>
    </header>
    <main>
      <article>
        <h2>We build the future</h2>
        <img src="https://source.unsplash.com/860x420/?construction" alt="" class="banner-img">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem iusto quos exercitationem reiciendis ad quas
          odio amet mollitia ab? Praesentium assumenda distinctio fugiat suscipit labore explicabo ducimus quam alias
          officia.</p>

        <h2>Another Page heading</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem iusto quos exercitationem reiciendis ad quas
          odio amet mollitia ab? Praesentium assumenda distinctio fugiat suscipit labore explicabo ducimus quam alias
          officia.</p>
      </article>
      <aside>
        <h3>Archive</h3>
        <nav>
          <a href="#">link</a>
          <a href="#">link</a>
          <a href="#">link</a>
          <a href="#">link</a>
          <a href="#">link</a>
        </nav>
      </aside>
    </main>
    <footer>
      <section>
        <h4>&copy; 2019</h4>
      </section>
      <section>
        <h4>Contact</h4>
        <nav>
          <a href="#">hello@abc-engineering.com</a>
          <address></address>
        </nav>
      </section>
      <section>
        <h4>Follow Us</h4>
        <nav>
          <a href="#">Facebook</a>
          <a href="#">linkedIn</a>
          <a href="#">Twitter</a>
        </nav>
      </section>
      <section>
        <h4>Subscribe</h4>
        <form action="" method="GET" class="subscription-form">
          <label for="Signup">Signup to our newsletter</label>
          <input type="text" name="email">
          <input type="submit" value="Submit" name="submit">
        </form>
      </section>
    </footer>
  </div>
</body>

</html>
