body {
  background-image: url("../img/spiration-dark.png");
  background-repeat: repeat;
  background-color: #444;
  color: #F7FFF7;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

.wrapper {
  width: 1280px;
  margin: 0px auto;
}

header {
  background-color: #F7567C;
  width: 1280px;
  padding: 10px;
}

header h1 {
  font-family: 'Alfa Slab One', cursive;
  font-size: 30px;
  font-weight: normal;
}

main {
  background-color: rgba(78, 205, 197, 0.468);
  width: 1280px;
  padding: 10px;
}

article {
  display: inline-block;
  vertical-align: top;
  background-color: #1A535C;
  padding: 10px;
  width: 860px;
}

aside {
  display: inline-block;
  vertical-align: top;
  background-color: #1A535C;
  padding: 10px;
  width: 360px;
}

aside nav a {
  display: block;
  text-decoration: none;
  color: #F7FFF7;
  border-bottom: 1px dotted #F7FFF7;
  padding: 10px;
}

footer {
  background-color: #F7567C;
  width: 1280px;
  padding: 10px;
}

footer section {
  display: inline-block;
  vertical-align: top;
  width: 300px;
}

footer section a {
  display: block;
  text-decoration: none;
  color: #F7FFF7;
}

.banner-img {
  width: 860px;
}

.subscription-form {
  width: 300px;
}

.subscription-form input[type="text"] {
  border: none;
  padding: 10px;
  background-color: #F7FFF7;
}

.subscription-form input[type="submit"] {
  border: none;
  background-color: #4ECDC4;
  color: #F7FFF7;
  padding: 10px;
}
