*,::after,::before {
  box-sizing: border-box
}

body {
  background-image: url("../img/skyscraper.png");
  background-repeat: repeat;
  background-color: #EEE;
  color: #F7FFF7;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  background-color: salmon;
}

header {
  background-color: #BBDBB4;
  width: 100%;
  padding: 10px;
}

header h1 {
  font-family: 'Alfa Slab One', cursive;
  font-size: 30px;
  font-weight: normal;
}

main {
  background-color: rgba(78, 118, 205, 0.468);
  width: 100%;
  padding: 2em;
}

article {
  position: relative;
  display: inline-block;
  vertical-align: top;
  background-color: #861657;
  padding: 10px;
  width: 100%;
  box-shadow: 10px 10px 0px #000;
}

article a {
  display: block;
  text-decoration: none;
  color: #F7FFF7;
  border-bottom: 1px dotted #F7FFF7;
  padding: 10px;
}

footer {
  display: none;
  background-color: #BBDBB4;
  width: 100%;
  padding: 10px;
}

footer section {
  display: inline-block;
  vertical-align: top;
  width: 30%;
}

.book-now-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 2em;
}


.columns {
  width: 100%;
  display: block;
  border: 1px solid yellowgreen;
}









.banner {
  padding: 20px;
  min-height: 320px;
  background-image: url("../img/banner-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.4);
  background-repeat: no-repeat;
}

.banner-inner {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.4);
}

@media screen and (min-width: 640px) {
  .columns {
    width: 30%;
    display: inline-block;
  }

  .wrapper {
    width: 600px;
    background-color: green;
  }
  .banner {
    min-height: 420px;
    background-image: url("../img/banner-tablet.jpg");
  }
}

@media screen and (min-width: 1170px) {
  .columns {
    width: 30%;
    display: inline-block;
  }
  .wrapper {
    width: 1200px;
    background-color: red;
  }
  .banner {
    min-height: 520px;
    background-image: url("../img/banner-desktop.jpg");
  }
}
